

<form method="get" action="/result">
    <label>Patient name</label> <br>
    <input type="text" name="patient_name"> <br>
    <label>Symptom</label> <br>
    <input type="text" name="symptom_name">
    <br><br>
    <input type="text" name="symptom_name1">
    <br><br>
    <input type="text" name="symptom_name2">
    <br><br>
    <input type="text" name="symptom_name3">
    <br>
    <br>
    <input type="submit" value = "Submit">
</form>



<!-- <h1>Symptoms</h1>
<% symptoms.forEach(function(symptom){ %>
    
    <li><%= symptom.symptomID %></li>

<% }) %>
</ul> -->

